<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" <a href=/static/favicon.ico>
    <style>
    .divider{
      width:30px;
      height:auto;
      display:inline-block;
   }
   body{
      margin: 0;
      background-image: url(/static/background.png);
      background-size: 1920px 1080px;
      background-repeat:no-repeat;
   }
    h1 {text-align: center;}
    p {text-align: center;}
    button{margin:0 auto; text-align: center;}
    row{margin:0 auto; text-align: center;}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Money Cat</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-left"><img src="/static/banner.png" width="184" height="46" style="padding-right:20px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/index/simulation">Statmap</a></li>
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template" style="height: 107px;padding-top:200px;">
        <h1>What's hot? &nbsp; What's not?</h1>
        <p class="lead" style="font size:40px">MoneyCat is a business solution which allows companies to easily identify what products sell well and where.</p>
      </div>
      <div class = "starter-template" style="text-align: center; margin:0 auto;height: 200px;padding-top:200px;">
           <button type="button" class="btn btn-info btn-lg"> How It Works </button>
           <a href="/index/simulation" class="btn btn-info btn-lg" role="button">Get Started</a>
     </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
